.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.navbar .navbar-brand span {
    margin-left: 20px;
    font-size: 25px;
}

.navbar .navbar-nav a {
    color: #fff;
    font-size: 18px;
}
.navbar .navbar-nav a:hover {
    color: #6c757d;
}

.navbar .navbar-nav p {
    padding: 8px;
    margin: 0;
    color: #343a40;
    font-size: 18px;
}




