{% extends 'base.html' %}

{% block customCss %}
  <link rel="stylesheet" href="{{ url_for ('static', filename='./custom/login.css') }}">
{% endblock %}

{% block scripts %}
  <script>
    function login() {
      let email = $("#email").val()
      let pwd = $("#pwd").val()

      $.ajax({
        url: '/login',
        type: 'post',
        data: {
          'email': email,
          'pwd': pwd
        },
        success: function(res) {
          if(res['result'] == 'success') {
            alert('로그인 성공!👍')
            window.location.href = '/'
          } else if(res['result'] == 'fail'){
            alert('비밀번호가 올바르지 않습니다.🧐')
          } else {
            alert('존재하지 않는 사용자 입니다.😅')
          }
        }
      })
    }
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Welcome to Racer Library</h1>
    <p>레이서 도서관을 이용하시려면 로그인 해주세요</p>
    <form class="was-validated">
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
    </form>
    <button onclick=login() class="btn btn-warning">Login</button>
    <p>아직 회원이 아니라면 회원가입 후 이용해 주세요</p>
    <a href="register" class="btn btn-warning">Sign Up</a>
  </div>
{% endblock %}