{% extends 'navbar.html' %}

{% block customCss %}
    <link rel="stylesheet" href="../static/custom/navbar.css">
    <link rel="stylesheet" href="../static/custom/main.css">
{% endblock %}

{% block scripts %}
    <script>
        function borrow(id) {
            $.ajax({
                url: '/borrow',
                type: 'patch',
                data: {
                    'book_id': id
                },
                success: function(res) {
                    if(res['result'] == 'success') {
                        alert('대여하기 완료!📘')
                        window.location.href = '/'
                    } else if(res['result'] == 'fail') {
                        alert('책이 모자라서 대여하실 수 없어요😭 다른 책을 먼저 빌리시는건 어떨지?!')
                    } else {
                        alert('로그인을 먼저 해주세요!')
                        window.location.href = '/login'
                    }
                }
            })
        }
    </script>
{% endblock %}

{% block content %}
    {% if books %}
    <div class="container">
        <div class="row">
            {% for book in books %}
            <div class="col-md-3" id="{{ book.id }}">
                <div class="card mt-3">
                    <a href="/book/{{ book.id }}">
                        <img class="card-img-top" src="../static/book_img/{{ book.id }}.jpg" alt="book1">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">⭐️이 {{ book.rating }}개!</p>
                        <p class="card-text">{{ book.quantity }}권 남음</p>
                        <button class="btn btn-warning" onclick="borrow('{{ book.id }}')">
                            대여하기
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>도서 목록을 불러오지 못했어요😭</p>
    {% endif %}
{% endblock %}

