<!DOCTYPE html>
<html lang="en">
<head>
  <title>Racer Library</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/custom/login.css">
  <link rel="stylesheet" href="../static/custom/common.css">
  <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
  <script src="../static/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>

<div class="container">
        <h1>회원가입 해주세요</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="What's your name?" name="name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email"     placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd"    placeholder="Enter password" name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="Password Check" name="password">
            </div>
        </form>
        <button type="submit" class="btn btn-warning">Submit</button>
</div>

</body>
</html>
